<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0XDhKvIOBrFjFwTVfNMJkpFg5tNXD1qs</string>
	<key>GCM_SENDER_ID</key>
	<string>958441753321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khushhal</string>
	<key>PROJECT_ID</key>
	<string>cocoon-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoon-authentication.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958441753321:ios:a056682bcedf9b3627fe78</string>
</dict>
</plist>